<div class="chart-container m-3 border rounded" style="width: 75%">
  <div class="border-bottom p-3 d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <h1>{{ title }}</h1>
      <span>Looking at a period from {{ startDate }} - {{ endDate }}</span>
    </div>
  </div>
  <div class="d-flex flex-column p-3">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column px-2" style="width: 10rem">
          <label for="dateRange">Date Range</label>
          <select
            id="dateRange"
            (change)="updateChartDate()"
            style="height: 2rem"
            [(ngModel)]="selectedDateOption"
          >
            <option default value="-1">All Time</option>
            <option value="1">Last Month</option>
            <option value="4">Last Quarter</option>
            <option value="12">Last Year</option>
            <option value="-2">Custom</option>
          </select>
        </div>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column px-2" style="width: 8rem">
            <label for="customRange">Custom Range</label>
            <input
              id="customRange"
              placeholder="Last X Months"
              style="height: 2rem"
              [(ngModel)]="customDateValue"
            />
          </div>
          <div class="align-content-end">
            <button (click)="onSearch()" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
      <div class="align-content-end">
        <Button class="btn btn-primary" (click)="resetZoom()"
          >Reset Zoom</Button
        >
      </div>
    </div>
    <div class="d-flex flex-row pb-5 pt-2">
      <div class="d-flex flex-column px-3" style="width: 50%">
        <h2>${{ allCustomersTotal }}</h2>
        <div class="d-flex flex-row">
          <div
            style="
              margin-right: 0.3rem;
              align-self: center;
              height: 1rem;
              width: 1rem;
              background-color: blue;
              border-radius: 5px;
            "
          ></div>
          <span>All Customers</span>
        </div>
      </div>
      <div class="d-flex flex-column px-3">
        <h2>${{ loyaltyCustomersTotal }}</h2>
        <div class="d-flex flex-row">
          <div
            style="
              margin-right: 0.3rem;
              align-self: center;
              height: 1rem;
              width: 1rem;
              background-color: limegreen;
              border-radius: 5px;
            "
          ></div>
          <span>Loyalty Customers</span>
        </div>
      </div>
    </div>
    <div
      class="chart-container"
      style="position: relative; height: auto; width: 70vw"
    >
      <canvas #MyChart></canvas>
    </div>
  </div>
</div>
