<main class="main">
  @for(customers of customerData.charts; track customers.chartId){
  <app-line-chart
    [customerData]="customers"
    [title]="'Total Sales'"
  ></app-line-chart>
  } @for(customers of barChartData.charts; track customers.chartId){
  <app-bar-chart
    [customerData]="customers"
    [title]="'Sales Channel Breakdown'"
  ></app-bar-chart>
  } @for(customers of pieChartData.charts; track customers.chartId){
  <app-pie-chart
    [customerData]="customers"
    [title]="'Average Ticket Size'"
  ></app-pie-chart>
  }
</main>

<router-outlet />
